<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
  <h1> NBA Look Up </h1><br>
<style> 
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
 
<body>

  <br>
  <div>

        <h> Hi, this is NBA Look up WEBSITE! </h>
        <br>
        <br>
        <input type="button" value="Team_roaster" onclick="location.href='/team_roaster'">
        <br>
        <br>
        <input type="button" value="Last_game_log" onclick="location.href='/last_game_log'">
  </div>
  <br>

   
</body>
</html>